
<div class="container-fluid " >
    <div class="row " style="height: 100vh;">
     
      <div
        class="col bg-light d-flex  flex-column justify-content-center align-items-center"
        [formGroup]="fbFormGroup" 
        
      >
      
      <div class="col-12  d-flex flex-column justify-content-center align-items-center"  style="height: 500px;width: 400px;">
        <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
          A simple danger alert—check it out!
        </div>
       
        <div class="h4 d-flex align-items-center" style="font-weight: bold;">Login</div>
  
        <div style="width: 100%;">
          <input
            type="text"
            placeholder="Enter Username"
            class="form-control"
            formControlName="username"
            
          />
        </div>
  
        <div class="mt-1" style="width: 100%;">
          <input
            type="password"
            placeholder="Enter Password"
            class="form-control"
            formControlName="password"
          />
        </div>
  
        <button
          class="btn btn-sm mt-2 mb-2"
          [disabled]="!fbFormGroup.valid"
          (click)="loginProcessHere()"
          style="width: 100%; background-color:red;color: seashell;"
        >
          Login Here
        </button><br>
  
        <a routerLink="/signup" style="color: black;">Click here to Signup.</a>
        </div>
      
      </div>
    </div>
</div>