<div class="container-fluid">
  <div class="row bg-light sticky-top" style="height: 60px">
    <div class="col-1  h5"  style="height: 60px">
      <img [src]=logo style="height: 50px; width: 50px;"> 
      
      </div>
      <div class="col-3 d-flex align-items-center ml-0 "  style="height: 60px">
        <button
          class="btn btn-lg btn-dark mr-1 rounded-pill"
          (click)="gotoRoute(item.link)"
          *ngFor="let item of linksList"
        >
          {{ item.title }}
        </button>
      </div>
      <div class="col-5  d-flex align-items-center ml-0" style="height: 60px" id="search">
        <input class="rounded-pill" id="search-box" type="text" placeholder="Search" />
      </div>
      <div>
        <i class="fas fa-user-alt"></i>
      </div>

    
  </div>
  
 
  <!-- <a routerLink="/home/">Home</a>
<a routerLink="/home/login">Login</a>
<a routerLink="/home/signup">Signup</a> -->

  <!-- TO Make Sticky Works-->
  <router-outlet></router-outlet>
  <app-main-body></app-main-body>

</div>