<div class="container-fluid">

  <div class="row" style="height: 100vh;">
      
    <div class="col  d-flex flex-column justify-content-center align-items-center ml-0 lr-0"[formGroup]="fbFormGroup1" >

       <div class="col-12  d-flex flex-column justify-content-center align-items-center"style="height: 500px;width:400px;">
        
        <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
            A simple danger alert—check it out!
        </div>
          
        <div class="h4" style="font-weight: bold;">Sign Up</div>

        <div style="width: 100%;">
          <input
            type="text"
            placeholder="Enter Username"
            class="form-control"
            formControlName="username"
          />
        </div>

        <div class="mt-1" style="width: 100%;">
         <input
            type="password"
            placeholder="Enter Username"
            class="form-control"
            formControlName="username"
          />
        </div>
        <div class="mt-1" style="width: 100%;">
          <input
            type="text"
            placeholder="Enter Email"
            class="form-control"
            formControlName="email"
          />
        </div>
        <div class="mt-1" style="width: 100%;">
          <input
            type="text"
            placeholder="Enter Mobile"
            class="form-control"
            formControlName="mobile"
          />
        </div>

        <button
          class="btn btn-sm btn-warning mt-2 mb-2"
          [disabled]="!fbFormGroup1.valid"
          (click)="registerHere()"
         
          style="width: 100%; background-color:red;color: seashell;"
        >
          Sign Up
        </button>

        <a routerLink="/login" style="color: black;">Login Here</a>

          
      </div>  
    </div>
  
  </div>

</div>
  